<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Home </title>
</head>
<body>
<h2>Users</h2>
<div>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Password</th>
            <th>Email</th>
            <th>Age</th>

            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each=" user : ${allUsers} ">
            <td><a th:text="${user.getId()}">ID</a></td>
            <td><a th:text="${user.getName()}">UserName</a></td>
            <td><a th:text="${user.getPassword()}">FirstName</a></td>
            <td><a th:text="${user.getEmail()}">LastName</a></td>
            <td><a th:text="${user.getAge()}">Password</a></td>
            <td>

                <form th:method="post" th:action="@{/users/{id}(id=${user.getId()})}">
                    <input type="submit" value="Удалить">
                </form>
            </td>
        </tr>
        </tbody>
    </table>

    <p><a href="/signup" class="btn btn-primary"></a></p>
</div>

</body>

</html>