<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="">
</head>
<body>
<form th:method="POST">

    <div>
        <a th:href="@{/}"> Home </a>
        <br>
        <a th:href="@{/user/allUsers}"> List users </a>
        <br>
        <a th:href="@{/user/newUser}"> Registration </a>
        <br>
        <a th:href="@{/user/user-login}"> Sign in </a>

        <a th:href="@{/user/show}"> Show User </a>

        <a th:href="@{/user/create}"> Create User </a>
    </div>


</form>
</body>
</html>